body {
  color: #3C3C3C;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

.container {
  padding: 2rem 1rem;
}

input {
  padding: 2px 4px;
  border: 1px solid #999;
}

.input-label {
  display: block;
  margin-bottom: 16px;
}
.input-label input {
  margin-left: 8px;
  height: 28px;
  font-size: 16px;
  line-height: 19px;
}
.fast-input {
  margin-bottom: 20px;
}
.fast-input button {
  border: 1px solid;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: white;
}

.table {
  width: 100%;
  margin-top: 16px;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 1px solid #999;
  padding: 8px;
  font-size: 16px;
}
.table td input {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  height: 32px;
}
.table tbody tr:nth-of-type(2n) > td {
  background-color: rgba(135, 208, 250, 0.1);
}

.btns-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.btn {
  border: 0;
  cursor: pointer;
}
.add-btn,
.clear-btn {
  font-size: 16px;
  padding: 8px;
  width: 70px;
  font-weight: bold;
  border-radius: 2px
}
.add-btn {
  background-color: rgba(0, 128, 0, 0.9);
  color: white;
}
.clear-btn {
  border: 1px solid #999;
  background-color: white;
  color: #333;
}
.sort-btn {
  background-color: transparent;
  margin-left: 8px;
}
