body {
  color: #3C3C3C;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

.container {
  padding: 4rem 1rem;
}

input {
  padding: 2px 4px;
  border: 1px solid #999;
}

.input-label {
  display: block;
  margin-bottom: 16px;
}
.input-label input {
  margin-left: 8px;
  height: 28px;
  font-size: 16px;
  line-height: 19px;
}

.table {
  width: 100%;
  margin-top: 32px;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 1px solid #999;
  padding: 5px 8px;
}
.table td input {
  width: 100px;
  font-size: 14px;
  line-height: 16px;
}
.table tbody tr:nth-of-type(2n) > td {
  background-color: rgba(135, 208, 250, 0.1);
}

.add-btn,
.sort-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.sort-btn {
  margin-left: 8px;
}
